<h2>Recommended Software</h2>


<h4>Text Editor</h4>

<p>When you're writing code, it is nice to have a text editor that is optimized for writing code. There is a huge variety of options out there, if you do not already have a preferred editor try and few and see which one works best for you.</p>

<ul>
<li>vim / emacs - old school unix console based editors, they have a steep learning curve but are incredibly powerful.</li>
<li>nano - another unix console editor, easier learning curve but with much less power.</li>
<li>SublimeText - crossplatform GUI text editor with a robust plugin ecosystem.</li>
</ul>

<h4>git</h4>

<p>Git is a state-of-the-art version control system. It lets you track who made changes to what when and has options for easily updating a shared or public version of your code on github.</p>

<ul>
<li>OSX - install Git for Mac by downloading and running the installer or install homebrew and use it to install git via brew install git.</li>
<li>Unix / Linux - you should be able to install git via your prefered package manager (if it is not already installed).</li>
<li>Windows - install Git for Windows by download and running the git for windows installer. This will provide you with git, the bash shell, and ssh in windows.</li>
</ul>

<h4>Unix shell(s) / ssh</h4>

<p>We will be doing much of the work in the class on remote linux systems, primarily we will be interacting with these machine through a remote terminal and a shell. Using a shell gives you more power to do more tasks more efficiently with your computer.</p>

<ul>
  <li>OSX / Unix / Linux - these tools should already be installed and you should be able to access your shell through the Terminal application (name may vary slightly depending on your OS).</li>

  <li>Windows - there are several ways to install bash or a bash-like shell, the preferred method is to install the git for windows package as detailed above.</li>s
</ul>

<h4>R / RStudio</h4>
<p>R is a programming language that is especially powerful for data exploration, visualization, and statistical analysis. To interact with R we will primarily be using RStudio, an interactive development environment (IDE), via a browser based interface. There is no need to install R or RStudio on your own laptop but doing so is recommended before the end of the semester.</p>


